In [ ]:
l = [4,8,9,10,11]

In [ ]:
for i in l:
  print(i)

4
8
9
10
11

In [ ]:
l1=[]
for i in l:
  if i%2 == 0:
    #print(i)
    l1.append(i)

In [ ]:
l1

[4, 8, 10]

In [ ]:
range(start,end,step)

In [ ]:
list(range(1,10,3))

[1, 4, 7]

In [ ]:
Prachi
P
r
a
c
h
i

In [ ]:
a = "prachi"
for i in a:
    if i =="c":
      break
    print(i)

p
r
a

In [ ]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
l = [1,2,"p",3,"r","a",True,"c",3.6,"h","i"]
l1 =[]

In [ ]:
l=[1,2,'p',3,'r','a', True,'c',3.6,'h','i']
#l1=[]
for i in l:
    if type(i)==str:
     print(i)

p
r
a
c
h
i

In [ ]:
l = [1,2,"p",3,"r","a",True,"c",3.6,"h","i"]
l1=[]
for i in l:
  if type(i)==str:
    l1.append(i)
print(l1)

['p', 'r', 'a', 'c', 'h', 'i']

In [ ]:
users = ["Aakash","Namita","Vatsala"]
for user in users:
  print(f"sending email to {user}....")

sending email to Aakash....
sending email to Namita....
sending email to Vatsala....

In [ ]:
 Displaying available seats in a theater with seat numbers.

In [ ]:
abl_seat = {23,45,89,12}

In [ ]:
available_seats = {23,45,89,12}
for seat in available_seats:
    print(f"Available Seats are:{seat}")

Available Seats are:89
Available Seats are:12
Available Seats are:45
Available Seats are:23

In [ ]:
Scenario: Displaying product prices in a store.----> laptop-50000,smartphone-30000, tablet- 45000

In [ ]:
product = {"laptop":4500,"smartphone":8953,"tablet":7895}
for product,price in product.items():
    print(f"the price of the {product} is {price}")

the price of the laptop is 4500
the price of the smartphone is 8953
the price of the tablet is 7895

In [ ]:
dict1 = {'laptop':50000, 'smartphone':30000, 'tablet':'45000'}
for i, j in dict1.items():
    print(i,j)

laptop 50000
smartphone 30000
tablet 45000

In [ ]:
products = [
    {"Laptop": 50000},
    {"Smartphone" : 3000},
    {"Tablet": 45000},
]
for i in products:
    print(f"Productand price are {i}")

Productand price are {'Laptop': 50000}
Productand price are {'Smartphone': 3000}
Productand price are {'Tablet': 45000}

In [ ]:
product = {"laptop":4500,"smartphone":8953,"tablet":7895}
for products,price in product.items():
    print(f"the {products} and price is {price}")

the laptop and price is 4500
the smartphone and price is 8953
the tablet and price is 7895

In [ ]:
product1 = {"laptop":4500,"smartphone":8953,"tablet":7895}

In [ ]:
for product in product1.keys():
  print(product,value)

NameError: name 'value' is not defined

In [ ]:
l=[1,32,4]

In [ ]:
for i,j in l:
  print(i,j)

TypeError: cannot unpack non-iterable int object

In [ ]:
Scenario: Checking in attendees for a conference.

In [ ]:
name = {
    "Ama": {"Attendee": "Yes"},
    "John": {"Attendee": "No"},
    "Neha": {"Attendee": "Yes"}
}
#name["Ama"]

In [ ]:
name = {
    "Ama": {"Attendee": "Yes"},
    "John": {"Attendee": "No"},
    "Neha": {"Attendee": "Yes"}
}
for i,j in name.items():
    #print(i)
    for k in j.values():
      if k == "Yes":
        print(i,k)

Ama Yes
Neha Yes

In [ ]:
attendees={"id1":["A",23,"present"],"id2":["C",34,"absent"],"id3":["B",45,"absent"]}
for i,j in attendees.items():
    if "present" in j:
        print(f"{i} :{j}")

id1 :['A', 23, 'present']

In [ ]:
att={"david":"y","john":"n","Meet":"n"}
for i,j in att.items():
    if j!='n':
        print(f"name : {i} attending the event {j}")

name : david attending the event y

In [ ]:
a = {"ab1": {"cd": "yes"}, "ab2": {"cd": "no"}, "ab3": {"cd": "yes"}}

result = []

for key, value in a.items():
      if value.get("cd") == "yes":
         result.append(key)

print(result)

['ab1', 'ab3']

In [ ]:
a = {
    "Sofia": {"status": "attended"},
    "Bob": {"status": "not attended"},
    "Charlie": {"status": "attended"}
}

for name, info in a.items():
    print(f"Attendee: {name}, Status: {info['status']}")

Attendee: Sofia, Status: attended
Attendee: Bob, Status: not attended
Attendee: Charlie, Status: attended

In [ ]:
a = {
    "Sofia": {"status": "attended"},
    "Bob": {"status": "not attended"},
    "Charlie": {"status": "attended"}
}


for name, info in a.items():
    if info['status'] == "attended":
        print(f"Attendee: {name}, Status: {info['status']}")

Attendee: Sofia, Status: attended
Attendee: Charlie, Status: attended

In [ ]:
a = {"Raju": {"Attendee": "yes"}, "Sanju": {"Attendee": "no"}, "Teju": {"Attendee": "yes"}}

result = []

for key, value in a.items():
      if value.get("Attendee") == "yes":
         result.append(key)

print(result)

['Raju', 'Teju']

In [ ]:
 name = "prachi"

In [ ]:
isinstance(name,int)

False

In [ ]:
l = [1,2,3,'p','q']
l1=[]
l2 =[]

In [ ]:
for i in l:
  if isinstance(i,str):
    l1.append(i)

In [ ]:
l1

['p', 'q']

In [ ]:
for i in l:
  if isinstance(i,int):
    l2.append(i)

In [ ]:
l2

[1, 2, 3]

In [ ]:
isinstance("prachi",int) #---> 0,1

False

In [ ]:
l = [1,2,"p","r",'a']
l1=[]

In [ ]:
for i in l:
  if isinstance(i,str):
    l1.append(i)

In [ ]:
l1

['p', 'r', 'a']

In [ ]:
list_p = {"name":["prachi","Anand","Nandita"],"age":[23,45,67],"gmail":["abc@gmail.com","xyz@gmail.com","pqr@gmail.com"]}

In [ ]:
for j in list_p.values():
  #print(j)
  for i in j:
    #print(i)
    if isinstance(i,str):
      print(i)
    else:
      print(f"no strings found {i}")

prachi
Anand
Nandita
no strings found 23
no strings found 45
no strings found 67
abc@gmail.com
xyz@gmail.com
pqr@gmail.com

In [ ]:
s = ""
print(s.isalnum())

False